<!--<div>
  <ul>
    {{#each grocerylists}}
 
        <li>    
            <a>
                <h3>{{ groceryListName }}</h3>
                {{#each groceryListItems}}
                  <p>{{itemDescription}}</p>   
                {{/each}}
            </a>
    </li>
    {{else}}
        <p>No grocery list available </p>
    {{/each}}
   </ul>
</div>-->
<div class="grocery-list">
    <ul class="head-list">
      {{#each grocerylists}}
       <li> 
        <div class="list">
            <div class="head">
                <h1 class="list-name">{{ groceryListName }}</h1><hr>
                </div>
                <ul class="item-list"> 
                    {{#each groceryListItems}}
                    <li class="list-item"> {{itemDescription}}</li></li>
                    {{/each}}
                </ul>
                <div class="grocery-list-button">
                        <input type="submit" value="Update" ></input>
                        <input type="submit" value="Delete"></input>
                </div>
                {{else}}
                <p>No grocery list available </p>
            </ul>
        </div>
        </li>
   {{/each}}
   </ul>
</div>
